{{define "header"}}
<header>
    <nav>
        <a herf="/"><h1>seonjin85 coin</h1></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a herf="/add">Add</a></li>
        </ul>
    </nav>
    <h1>{{.PageTitle}}</h1>
</header>
{{end}}    